* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  padding: 10px;
}

.backgroud {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.search-bar {
  padding: 5px;
  border: 1px black solid;
}

.search-button {
  padding: 5px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  border: none;
  cursor: pointer;
  color: white;
}

.recipes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
